pkgbase = postgres-draco
	pkgdesc = Database client of the Lyra OS ecosystem - schema explorer, SQL editor and administration for PostgreSQL
	pkgver = 1.1.3
	pkgrel = 2
	url = https://github.com/britors/Draco
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = desktop-file-utils
	makedepends = appstream-glib
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = openssl
	depends = librsvg
	conflicts = draco-db
	replaces = draco-db
	source = postgres-draco-1.1.3.tar.gz::https://github.com/britors/Draco/archive/refs/tags/v1.1.3.tar.gz
	sha256sums = SKIP

pkgname = postgres-draco
